* {
    box-sizing: border-box;
}

.game-area {
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: solid 2px #000;
}

.snake-dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #333;
    border: solid 1px #fff;
    z-index: 2;
}

.snake-food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: red;
    border: solid 1px #fff;
    z-index: 1;
}
